extends layout

block content
  div.header
    ul
      li.li1
        a(href="#h").rg Home
      li.li2
        a(href="#pro").rg1 Profile
      li.li3
        a(href="#work").rg2 Work
  div.cat
    hr(width="234px").sihr
    h3.contact Contact
    img(src="./images/mail.svg", alt="mail").mail
    h3.adres &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kabuhuzin<br>&nbsp;&nbsp;&nbsp;&nbsp;@gmail.com
  div.all
    div.blue
      h1.name Tomomasa Yano
      h1.portfolio Portfolio
      img(src="./images/blue.jpg", alt="blue-sky").sky
    div.wht
      div.tag1
        img(src="./images/zibun.JPG", alt="meganebasi").megane
        h1#pro Profile
        div.ori
          h1.ori2 高知県須崎市で育ち、やりたいことが分からず様々な職種を巡り、
          h1.ori3 ふと目にとまったプログラミングという言葉に興味を持ち、
          h1.ori4 2018年の10月頃からプログラミングの勉強を始め、
          h1.ori5 javascript・node.jsを勉強しつつ、webサービスを開発中
      div.tag2
        h1.sof よく使用する言語　ソフトウェア
      div.imgtag
        img(src="./images/html2.png", alt="html5").html
        img(src="./images/CSS3.png", alt="css3").css
        img(src="./images/js.png", alt="js").js
        img(src="./images/nodejs.png", alt="nodejs").node
        img(src="./images/jquery.jpg", alt="jquery", ).jquery
        img(src="./images/github.png", alt="github").github
        img(src="./images/heroku2.png", alt="heroku").heroku
      div.tag3
        img(src="./images/work.JPG", alt="sunahama").trace
        h1#work.work2 Work
        img(src="./images/カレンダー.jpg", alt="calendar").calendar
        div.ghl
          h2 カレンダー表<br>
            a(href="https://kabuhuzin.github.io/calendar/calendar.html" target="_blank").a https://kabuhuzin.github.io/calendar/calendar.html
          h2 Github<br>
            a(href="https://github.com/kabuhuzin/calendar" target="_blank").a https://github.com/kabuhuzin/calendar
          h2 雲を描くようにイメージしたカレンダー表
        img(src="./images/投稿掲示板.jpg", alt="secret-bord" target="_blank").sboard
        div.ghl2
          h2 秘密の匿名掲示板<br>
            a(href="https://shrouded-meadow-12439.herokuapp.com/posts" target="_blank").a https://shrouded-meadow-12439.herokuapp.com/posts
          h2 Github<br>
            a(href="https://github.com/kabuhuzin/secret-board" target="_blank").a https://github.com/kabuhuzin/secret-board
          h2 匿名でチャットができる掲示板　<br>ID &nbsp;&nbsp;admin  &nbsp;&nbsp;Password &nbsp;&nbsp;1234
        img(src="./images/予定調整くん.jpg", alt="schedule").schedule
        div.ghl3
          h2 予定調整くん<br>
            a(href="https://quiet-stream-49650.herokuapp.com/" target="_blank").a https://quiet-stream-49650.herokuapp.com/
          h2 予定を作成し、出欠が取れる予定調整くん <br> Github か Googleの外部認証でログイン
  h4.kome ※秘密の匿名掲示板、予定調整くんは、教材に倣い作成したものです。
              script(src="/javascripts/bundle.js")